@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.HI{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.HI .container {
  /* margin: 30px auto; */
  width: 600px;
}

.HI h1 {
  letter-spacing: 1px;
  margin: 0;
}

.HI h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

.HI h4 {
  margin: 0;
  text-transform: uppercase;
}

.HI .inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.HI .inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.HI .inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.HI .money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.HI .money.plus {
  color: #2ecc71;
}

.HI .money.minus {
  color: #c0392b;
}

.HI label {
  display: inline-block;
  margin: 10px 0;
}

.HI input[type='text'],
.HI input[type='date'],
.HI input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.HI textarea[type='textarea'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.HI .btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.HI .btn:focus,
.HI .delete-btn:focus {
  outline: 0;
}

.HI .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.HI .list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.HI .list li.plus {
  border-right: 5px solid #2ecc71;
}

.HI .list li.minus {
  border-right: 5px solid #c0392b;
}

.HI .delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.HI .description-box {
  cursor: pointer;
  background-color: #80e73c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.HI .list li:hover .delete-btn {
  opacity: 1;
}
.HI .list li:hover .description-box {
  opacity: 1;
}